* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: black;
}

ul {
    width: 700px;
    height: 700px;
    margin: 50px auto
}

ul li {
    width: 100px;
    height: 100px;
    float: left;
    box-sizing: border-box;
    color: white;
    text-align: center;
    line-height: 100px;

}

#ul li:hover {
    border: 1px solid white;
}

.gray {
    color: #444
}

#top {
    color: white
}

#date {
    padding-left: 24px;
}


#pre {
    float: right;
    padding-right: 20px
}

#next {
    float: right;
    padding-right: 20px
}
